<!DOCTPYE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kitchen Manager</title>

        <!-- css -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/modal.css">

        <!-- js -->

    </head>

    <body>

        <!-- header -->
        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="/">Kitchen Manager</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a href="/test" class="pure-menu-link">test</a></li>
                    <li class="pure-menu-item pure-menu-selected"><a href="/list" class="pure-menu-link">Listen</a></li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">Account</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
                            <li class="pure-menu-item"><a href="/signup" class="pure-menu-link">Signup</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main -->
        <div class="content-wrapper">
            <div class="content">

                {{{ body }}}

            </div>
        </div>

    </body>

</html>
